table {
    width: 100%;
}

tr.user-detail-row {
    height: 0;
}

tr.user-row:not(.expanded-row):hover {
    background: grey;
}

tr.user-row:not(.expanded-row):active {
    background: grey;
}

.user-row td {
    border-bottom-width: 0;
}

.user-detail {
    overflow: hidden;
    display: flex;
}

.example-element-description-attribution {
    opacity: 0.5;
}
