<div fxFlex *ngIf="isAuthenticated; else home">
    <div fxLayout="row" fxLayoutGap="24px">
        <mat-card fxFlex="25%">
            <app-user-info-card></app-user-info-card>
        </mat-card>
        <mat-card fxFlex="50%">
            <app-subscribed-courses-card 
            [subscribedCourses]="subscribedCourses"
            (unsubscribe)="onUnsubscribe($event)"></app-subscribed-courses-card>
            <app-new-courses-card 
            [newCourses]="newCourses"
            (unsubscribe)="onUnsubscribe($event)"></app-new-courses-card>
        </mat-card>
        <mat-card fxFlex="25%">
            <mat-card-title>Study Statistics</mat-card-title>
            <mat-card-content>
                Coming soon
            </mat-card-content>
        </mat-card>
    </div>
</div>
<ng-template #home>
    <app-home></app-home>
</ng-template>
