.course-summary{
    background-color: lightgrey;
    color: black;
    width: 90%;
    margin-left: 10px;
    margin-bottom: 10px;
}

.card-top {
    position: relative;
}

.menu-btn{
    position: absolute;
    right: -15px;
    top: -10px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    opacity: 0.8;
}

.study-button {
    position: absolute;
    right: -10px;
    bottom: 15px;
    width: 30%;
    font-size: 1.1rem;
}
