<mat-card class="course-summary">
    <div>
        <mat-card-title>
            <a 
            [routerLink]="['/course-details', course.id]"
            [queryParams]="{subscribed: subscribedStatus, editMode: false}">{{ course.name }}</a>
        </mat-card-title>
        <p>{{ course.description }}</p>
        <button mat-icon-button class="menu-btn" [matMenuTriggerFor]="menu" aria-hidden="false" aria-label="course menu">
            <mat-icon>more_horiz</mat-icon>
        </button>
        <hr/>
    </div>
    <mat-card-content>
        <p>This course has {{ course.words.length }} words</p>
    </mat-card-content>
</mat-card>

<mat-menu #menu="matMenu">
    <button mat-menu-item 
    [disabled]="subscribedStatus"
    (click)="subscribeToCourse()">
      <mat-icon>add</mat-icon>
      <span>Subscribe to course</span>
    </button>
    <button mat-menu-item
    [disabled]="!subscribedStatus"
    (click)="unsubscribeFromCourse()">
      <mat-icon>clear</mat-icon>
      <span>Unsubscribe from course</span>
    </button>
    <button mat-menu-item 
    [routerLink]="['/course-details', course.id]"
    [queryParams]="{subscribed: subscribedStatus, editMode: true}">
        <mat-icon>edit</mat-icon>
        <span>Manage course</span>
    </button>
    <button mat-menu-item (click)="deleteCourse()">
        <mat-icon>delete</mat-icon>
        <span>Delete course</span>
      </button>
</mat-menu>