<div class="course-manager" *ngIf="contentToEdit === 'details'; else content">
    <div class="manage-course-header">
        <h2 class="edit-header-link">Edit Course Details</h2>
        <span class="subscribe-divider"></span>
        <h2 
        class="edit-header-link inactive-link"
        (click)="changeEditSection('content')">Edit Course Content</h2>
    </div>
    <app-course-details-editor 
        (courseUpdated)="updateCourse($event)"
        [course]="course">
    </app-course-details-editor>
</div>

<ng-template #content>
    <div class="course-manager">
        <div class="manage-course-header">
            <h2 
            class="edit-header-link inactive-link"
            (click)="changeEditSection('details')">Edit Course Details</h2>
            <span class="subscribe-divider"></span>
            <h2 class="edit-header-link">Edit Course Content</h2>
        </div>
        <app-course-content-editor
            [course]="course"
            (wordSelected)="setWordToEdit($event)"
            [wordToEdit]="wordToEdit">
        </app-course-content-editor>
    </div>
</ng-template>
