<div class="course-manager">
    <div class="manage-course-header" *ngIf="contentToEdit === 'details'; else contentHeader">
        <h2 class="edit-header-link">Edit Course Details</h2>
        <span class="subscribe-divider"></span>
        <h2 
        class="edit-header-link inactive-link"
        (click)="changeEditSection('content')">Edit Course Content</h2>
    </div>
    <div class="editor-container" *ngIf="course; else newCourse">
        <app-course-details-editor 
            *ngIf="contentToEdit === 'details'"
            [mode]="'edit'"
            (courseUpdated)="updateCourse($event)"
            [course]="course">
        </app-course-details-editor>
        <app-course-content-editor
                *ngIf="contentToEdit === 'content'"
                [mode]="'edit'"
                [course]="course"
                (wordSelected)="setWordToEdit($event)"
                [wordToEdit]="wordToEdit">
        </app-course-content-editor>
    </div>
   
</div>

<ng-template #contentHeader>
    <div class="manage-course-header">
        <h2 
        class="edit-header-link inactive-link"
        (click)="changeEditSection('details')">Edit Course Details</h2>
        <span class="subscribe-divider"></span>
        <h2 class="edit-header-link">Edit Course Content</h2>
    </div>
</ng-template>

<ng-template #newCourse>
    <div class="editor-container">
        <div class="editor-container">
            <app-course-details-editor 
                *ngIf="contentToEdit === 'details'"
                [mode]="'create'"
                (courseUpdated)="updateCourse($event)"
                [course]="course">
            </app-course-details-editor>
            <app-course-content-editor
                    *ngIf="contentToEdit === 'content'"
                    [mode]="'create'"
                    [course]="course"
                    (wordSelected)="setWordToEdit($event)"
                    [wordToEdit]="wordToEdit">
            </app-course-content-editor>
        </div>
    </div>
</ng-template>


