/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.study-button {
  background-color: darkorange;
  color: white;
  border: solid 2px black;
  border-radius: 10px;
  margin: 0 auto;
  width: 40%;
  grid-row: 1;
  grid-column: 3;
  font-weight: bold;
  font-size: 1.2em;
}