.word-table {
    width: 1300px;
    margin-top: 25px;
}

table {
    width: 100%;
}

tr.mat-row {
    height: 140px;
}

td {
    font-size: 1.15rem;
}

.mat-column-Japanese {
    width: 300px;
}

.mat-column-English {
    width: 275px;
}