.course-details {
    width: 1300px;
    margin-bottom: 25px;
    color: black;
    background-color: lightgrey;
}

.card-header {
    background-color: lightgrey;
    border: none;
    padding-bottom: 0;
}

.mat-card-title {
    margin-bottom: 0;
}

.mat-card-title a {
    text-decoration: none;
    color: black;
}

.manage-subscription-links {
    margin-left: auto;
    margin-right: 25px;
}

.manage-link {
    display: inline-block;
    font-size: 1.2rem;
    cursor: pointer;
}

.manage-link:hover {
    text-decoration: underline;
}

.inactive-link {
    cursor: default;
    opacity: 0.7;
}

.inactive-link:hover {
    text-decoration: none;
}

.subscribe-divider {
    background-color: grey;
    width: 2px;
    height: 20px;
    border-radius: 100px;
    display: inline-block;
    margin: 0 10px -5px 10px;
}

.menu-btn {
    position: absolute;
    top: 0px;
    right: 15px;
}

.menu-btn .mat-icon {
    font-size: 2.5em;
}

.mat-card-content {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 40% 30% 1fr;
}

.course-description {
    grid-row: 1 / span 3;
    grid-column: 1;
    font-size: 1.25em;
    padding: 5px;
}

.stat-count {
    font-weight: bold;
}

.course-statistic {
    grid-column: 2;
    font-size: 1.4em;
    padding-left: 15px;
}

.study-statistics {
    grid-column: 3;
    grid-row: 2 / span 2;
    text-align: center;
    padding: 10px;
    font-size: 1.5em;
    font-weight: bold;
}