<div class="course-details">
<app-course-details-card [course]="course" [subscribed]="subscribed"></app-course-details-card>
<div class="header-container">
    <span class="content-title">Course Content</span>
    <span class="manage-content-link"(click)="toggleEditMode()">{{manageContentText}}</span>
</div>
    <div class="table-container" *ngIf="editMode != 'true'; else courseManager">
        <app-word-table [course]="course" *ngIf="this.course.words.length > 0; else addContentPrompt"></app-word-table>
    </div>
</div>

<ng-template #courseManager>
    <div class="course-manager-container">
        <app-course-manager (courseUpdated)="updateCourse()" [course]="course"></app-course-manager>
    </div>
</ng-template>

<ng-template #addContentPrompt>
    <h2>Hmm.... it looks like this course has no content.</h2>
    <h3><a (click)="toggleEditMode()">Click here</a> to add some!</h3>
</ng-template>