.table-container {
    padding-bottom: 10px;
}

.content-title {
    font-size: 36px;
    margin-right: 15px;
    margin-bottom: 0;
}

.manage-content-link {
    font-size: 16px;
    width: 22%;
    text-decoration: underline;
    cursor: pointer;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h3 a {
    cursor: pointer;
    font-weight: 550;
    text-decoration: underline;
}

