<form class="course-editor" (ngSubmit)="submitForm()">
    <div class="word-edit-container" fxLayout="row">
        <app-word-search
            class="word-search" 
            [mode]="mode"
            [words]="course ? course.words : undefined"
            (wordSelected)="setWordToEdit($event)"
            fxFlex="50%">
        </app-word-search>
        <button 
            mat-raised-button
            color="primary"
            class="new-word-btn"
            (click)="setWordToEdit(newWord)">Add a new word</button>
        <app-word-editor
            class="word-editor" 
            *ngIf="wordToEdit !== undefined" 
            (wordUpdated)="addUpdatedWord($event)"
            (formClosed)="clearWordToEdit()"
            [word]="wordToEdit" 
            fxFlex="50%">
        </app-word-editor>
    </div>
    <button mat-raised-button color="primary" class="submit-btn" type="submit">Submit</button>
    <div class="unsaved-changes-container" *ngIf="updatedWords.length > 0">
        <h2 class="unsaved-changes-warning">Your changes have not been submitted.</h2>
        <h3 class="unsaved-changes-warning">The following words have edits waiting to be submitted.</h3>
        <ul class="updated-words">
            <li *ngFor="let word of updatedWords">{{word.englishVocab}}</li>
        </ul>
    </div>
</form>