.mat-raised-button {
    margin: 5px;
    font-weight: bolder;
    font-size: 1.2em;
    width: 100px;
}

.mat-raised-button.mat-primary {
    background-color: orange;
}

.new-word-btn {
    width: 200px;
    height: 40px;
    margin-top: -1px;
    position: absolute;
    right: 32%;
}

.mat-form-field {
    width: 500px;
}

:not(.mat-focused) .mat-form-field-label {
    /*change color of label*/
    color: black !important;
    font-size: 16px;
}

.mat-focused .mat-form-field-label {
    /*change color of label*/
    color: black !important;
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: 1px;
}

.mat-form-field input {
    height: 35px;
}

.mat-form-field textarea {
    height: 125px;
}

.word-edit-container {
    position: relative;
}

.word-editor {
    margin-top: 45px;
}

.course-editor {
    height: 500px;
    position: relative;;
}

.unsaved-changes-warning {
    color: red;
    margin: 0;
}

.updated-words {
    list-style: none;
}