<mat-card class="course-details">
    <div class="card-header">
        <mat-card-title><a [routerLink]="['/course-details', course.id]">{{ course.name }}</a></mat-card-title>
        <div class="manage-subscription-links" *ngIf="subscribed == 'true'; else notSubscribed">
            <span class="manage-link inactive-link">Subscribe to Course</span>
            <span class="subscribe-divider"></span>
            <span class="manage-link">Unsubscribe from Course</span>
        </div>
    </div>
    <hr/>
    <mat-card-content>
        <p class="course-description">{{ course.descriptionFull }}</p>
        <p class="course-statistic">Words: <span class="stat-count">{{ course.words.length }}</span></p>
        <p class="course-statistic">Sentences: <span class="stat-count">__SENTENCES_COUNT__</span></p>
        <p class="course-statistic">Users: <span class="stat-count">__USERS_COUNT__</span></p>
        <button class="study-button">Study Now</button>
        <div class="study-statistics">
            <hr>
            <p>STUDY PROGRESS COMING SOON</p>
        </div>
    </mat-card-content>
</mat-card>

<ng-template #notSubscribed>
    <div class="manage-subscription-links">
        <span class="manage-link">Subscribe to Course</span>
        <span class="subscribe-divider"></span>
        <span class="manage-link inactive-link">Unsubscribe from Course</span>
    </div>
</ng-template>